@import url(https://fonts.google.com/specimen/Roboto);
@import url(https://fonts.google.com/specimen/Shrikhand);

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}
.loader-wrap {
  display: flex;
  justify-content: center;
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #f390ee;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear forwards;
    animation-duration: 3s;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
}

.logo {
  text-align: center;
  img#logo {
    width: 55%;
    margin: 10px;
    padding: 5px;
  }
  .banner {
    padding: 30px;
    background-color: #f3f3f3;
    h1 {
      font-size: 26px;
    }
    h3 {
      font-weight: 200;
      font-size: 16px;
      color: darkgrey;
    }
  }
  #location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e5e5;
    height: 60px;
    font-size: 12px;
    margin-left: -30px;
    i.fas.fa-map-marker-alt {
      margin: 5px;
      margin-right: 25px;
      font-size: 25px;
    }
  }
}

nav {
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 50px;
  h1 {
    font-size: 24px;
  }
  .nav-links {
    margin-bottom: 15px;
    display: block;
    width: 360px;
    a {
      box-shadow: -1px 2px 9px -4px darkgrey;
      border-radius: 30px;
      padding: 30px;
      display: flex;
      flex-direction: row;
      margin: 16px;
      height: 20px;
      text-decoration: none;
      margin-bottom: 30px;
      background-color: #f3f3f3;
      &:hover {
        background-color: #ffffff;
      }
      .nav-icon-number {
        margin-left: -45px;
        margin-right: 20px;
        background-color: #9356dc;
        border-radius: 25px;
        text-align: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        height: 24px;
        width: 24px;
        color: white;
        font-size: larger;
      }
    }
  }
}
.text {
  margin-left: 30px;
  font-size: 18px;
  color: black;
}
button.explorez-bt {
  border-radius: 40px;
  width: 250px;
  height: 70px;
  background-image: linear-gradient(#ff79da 0%, #9356dc 51%);
  color: white;
  margin: 25px;
  border: none;
  box-shadow: 5px 5px 15px 0px grey;
  font-size: large;
  &:hover {
    background-image: linear-gradient(#f3b1e1 0%, #a482cd 51%);
    box-shadow: 5px 5px 15px 0px rgb(20, 20, 20);
  }
}

main {
  background-color: #f3f3f3;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.cartes {
  a {
    text-decoration: none;
    color: inherit;
  }
}
.carte-restaurant {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  .nouvelle-etiquette {
    background-color: #99e2d0;
    width: fit-content;
    padding: 10px 20px;
    position: absolute;
    margin: 25px;
    border-radius: 2px;
    color: darkgreen;
  }

  .buttom {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    i.far.fa-heart {
      align-self: center;
      padding-bottom: 10px;
      font-size: x-large;
      margin-right: 15px;
      opacity: 0.5;
      transition: 0.6s;
    }
    .far.fa-heart:hover {
      font-weight: 900;
      align-self: center;
      margin-right: 15px;
      font-size: x-large;
      padding-bottom: 10px;
      cursor: pointer;
      background: -webkit-linear-gradient(#ff79da 0%, #9356dc 51%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
    }
    .partie-gauche {
      margin-left: 10px;
      .title {
        font-weight: bold;
      }
    }
  }

  img.carte-img {
    width: 100%;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    height: 260px;
    object-fit: cover;
  }
}
footer {
  padding: 20px;
  color: white;
  background-color: #383838;
  .logo-bas {
    font-family: "Shrikhand", sans-serif;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
